:root{
    --blueColor:#10cab7;
    --secondary-color:#2c4755;
    --section-background:#f6f6f6;
}

*{
    box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}

header{
    background-color: aliceblue;
    height: 40px;
}
.container{
    margin: auto;
    padding: 0 12px;
}

header .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 60px;
}

header .links{
    position: relative;
}

.container .links .icons{
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 25px;
    top: 10px;
    gap: 4px;
    
}

.container .links .icons span:first-child{
    height: 2px;
    width: 100%;
    background-color: black;
}

.icons span:nth-child(2){
    width: 50%;
    height: 2px;
    background-color:black;
    transition: 0.3s;
}
.container .links .icons span:last-child{
    height: 2px;
    background-color: black;
    width: 100%;
    margin-bottom: 15px;

}


.container .links:hover span:nth-child(2){
    width: 100%;
    
}



.links ul{
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    position: absolute;
    right: 0;
    width: 200px;
    list-style: none;
    top: calc(100% + 12px);
    display: none;
    border-radius: 10px;
    z-index: 44;
}



.links ul::before{
    content: " ";
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 6px;
    top: -20px;
}
.container .links:hover ul{
    display: block;
}

ul li a{
    display:block;
    color: #6f6F6F;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    transition: .3s;
}

ul li:hover a{
    margin-left: 25px;
}

ul li:not(:last-child) a{
    border-bottom: 1px solid #DDD;
}



/* ================landing  page style ============ */

.landing{
    background-image: url(../images/pexels-pixabay-355747.jpg);
    background-size:cover;
    height: calc(100vh - 40px);
    position: relative;
}

.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 413px;
    max-width: 100%;

}
.intro-text h1{
    color: var(--blueColor);
    font-weight: bold;
    font-size: 50px;

}
.intro-text p{
    font-size: 1.3rem;
    line-height: 1.8;
    color: #000000;
    font-weight: 800;

}

/* ====================fearchers style start ==================== */
.feachers{
    background-color: var(--section-background);
    padding: 60px 0;
}
.feachers .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-template-rows: 3fr;
    gap: 20px;
}

.feachers .feat{
    text-align: center;
    padding: 20px;
}
.feat i{
    color: var(--blueColor);
}

.feat h3{
    font-weight: 800;
    margin:30px 0;
}
.feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
/* ====================fearchers style end==================== */
/* =============Start component ========== */

.special-heading{
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -5px;
    text-align: center;
    margin: 0;
}
.special-heading + p{
    text-align: center;
    margin: -30px 0 0;
    font-size: 20px;
    color: #797979;
}

@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    padding: 0 119px;
    font-size: 17px;
}

}
/* ============= end compent========== */
/* =================Services star================ */
.services-content{
    display: grid;
    margin-top:100px;
    gap: 30Px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
} 

.srv{
    display: flex;
    margin-bottom: 30px;
}

@media (max-width:767px){
    .srv{
        flex-direction: column;
        text-align: center;
    }
}


.services-content .srv i{
    color: var(--blueColor);
    flex-basis: 60px;
}

.srv .text{
    flex: 1;
}

.text h3{
    margin: 0 0 20px;
}
.text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.image{
    text-align: center;
    position: relative;
}

.image::before{
    content: "";
    background-color: var(--secondary-color);
    position: absolute;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}

.image img{
    width: 260px;
}
@media (max-width:1199px){
    .image-column{
        display: none;
    }
}
/* =================Services end================ */





@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}